body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  letter-spacing: 0.65;
  font-weight: lighter;
}

.parentContainer{
  position: relative;
  min-width: 320px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.navigation{
  display: block;
  visibility: visible;
  float: left;
  width: 5%;
  height: 100%;
}

.navigation img{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}

.navigation-mobile{
  display: none;
}

.imageFull{
  width: 100%;
}

.imageFull img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content{
  display: block;
  width: 90%;
  float: left;
}

.centerText{
  width: 100%;
  text-align:center;
}

.header{
  font-weight: bold;
  font-size: 18pt;
  padding-top: 15px;
}

.subhead{
  font-weight: lighter;
  font-size: 16pt;
  padding-top: 15px;
}

.copy{
  padding-top: 15px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .parentContainer{
    position: relative;
    max-width:100%;
    margin: 0px;
  }

  .navigation{
    visibility: hidden;
    display: none;
  }

  .navigation-mobile{
    width: 100%;
    display: block;
    position: fixed;
    visibility: visible;
    bottom: 10px;
  }

  .content{
    width: 100%;
  }

  .arrows-mobile {
    display: block;
    float: left;
    width: 50%;
  }

  .arrows-mobile img{
    display: block;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
  }

}
